$mainblue: #02011e;
$mainpurple: #e1bbff;
$offwhite: #f9fbef;
$font:'Philosopher', sans-serif;


//background-image: linear-gradient(to bottom, #02011e, #4b3745, #897373, #c1b8b1, #fffffd);


// CC RESET
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}

// CC RESET END

//TESTING BACKGROUND COLOR

/* panel styles */
.panel {
 /* min height incase content is higher than window height */
 min-height: 100vh;
}

/* colours */
.color-white {
 background-color: #FFFFFD;
}

//END TESTING COLOR

body {
 background-color: $mainblue;
 transition: background-color 1s ease;
}

//margins left and right MOBILE VERSION
.main-wrapper {
 //border: 1px solid pink;
 margin: 0px 20px 0px 20px;
}

//for NAVBAR
//MENU HAMBURGER

.menu {
 display: inline-block;
 cursor: pointer;
 //padding-right: 20px;
}

.menu {
 div{
  width: 37px;
  height: 3.5px;
  background-color: #f9fbef;
  margin: 7px 0;
  border-radius: 20px;
 }
}

.bar1, .bar2, .bar3 {
 width: 35px;
 height: 5px;
 background-color: #333;
 margin: 6px 0;
 transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
 -webkit-transform: rotate(-45deg) translate(-10px, 10px) ;
 transform: rotate(-45deg) translate(-10px, 10px) ;
}

/* Fade out the second bar */
.change .bar2 {
 opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
 -webkit-transform: rotate(45deg) translate(-7px, -10px) ;
 transform: rotate(45deg) translate(-7px, -10px) ;
}


.navimage {
 height: 32px;
 margin-top: 3px;
 //padding-left: 20px;
}


.navbar {
 // background-color: $mainpurple;
 margin-top: 40px;
 padding-bottom:10px ;

 //height:100vh; /* change how big the pink bg when opening menu */
}

.main-nav {
 list-style-type: none;
// padding-left: 0;
 display: none;  /* not visible by default > with javascript visible */
 //margin: auto;
 //padding-top: 190px;
 margin: 0;
 position: absolute;
 /* top: 50%; */
 top: 40%;
 transform: translate(-50%, -50%);
 left: 50%;
 width: 600px;
}

.nav-links {
 text-decoration: none;
 color:$offwhite;
}

.nav-links:hover {
 color:$mainblue;
}

.main-nav li {
 text-align: center;
 margin: 15px auto;
 font-weight: 700;
 font-size: 2rem;
 letter-spacing: 2px;
}

.displayflexnavelement {
 display:flex;
 justify-content: space-between;

}
/* toggle navbar */

.active {
 display: block;
}

.activecolor {
 //background-color: $mainpurple;
 height: 94.5vh; /* change how big the pink bg when opening menu */
 position: relative;
 overflow: hidden;
}

.navbarbackground{
 background-color: $mainpurple;
 overflow: hidden;
}

//SVG LOGO

//HERE STARTS CODING FOR THE LOGO ANIMATION
#logo {
 width: 300px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 animation: fill 0.5s ease forwards 3s;
}

#logo path:nth-child(1) {
 animation: transparency-letter 6s ease forwards 0s;

}

#logo path:nth-child(2) {
 stroke-dasharray: 3295px;
 stroke-dashoffset: 3295px;
 animation: line-anim 3s ease forwards;
}

#logo-disappear {
 -webkit-animation: cssAnimation 6s forwards;
 animation: cssAnimation 6s forwards;
}

//TO ANIMATE THE LINES

@keyframes cssAnimation {
 0%   {opacity: 1;}
 90%  {opacity: 1;}
 100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
 0%   {opacity: 1;}
 90%  {opacity: 1;}
 100% {opacity: 0;}
}

@keyframes line-anim {
 to {
  stroke-dashoffset: 0;
 }
}

@keyframes fill {

 from {
  fill: transparent;
 }

 to {
  fill: $mainpurple;
 }


}

@keyframes transparency-letter {

 0% {
  opacity: 0;
 }
 50% {
  opacity: 0;
 }
 100% {
  opacity: 1;
 }

}

@media only screen and (max-width: 400px) {

 #logo {
  width: 200px;
 }
}


//INTRODUCTION TEXT

.intro {
 position: relative;
 height: 100vh;

}

.text-container {
 position: absolute;
 left: 50%;
 transform: translate(-50%, 50%);
 width: 243px;
}

.intro-text {
 opacity: 0;
 color: $offwhite;
 font-family: $font;
 font-size: 23px;
 letter-spacing: 2px;
 //padding-left: 70px;
 span {
  color:$mainpurple;
 }
}

.intro-text-animation {
 animation: text-animation 2s;
}

@keyframes text-animation {
 from {
  opacity: 0;
 }
 to {
  opacity: 1;
 }
}

//INTRODUCTION TEXT END









//MEDIUM SCREENS

@media (min-width: 500px) {


 .main-nav li {
  text-align: center;
  margin: 15px auto;
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 2px;
 }


 .navimage {
  height: 42px;
  margin-top: 0;
  //padding-left: 20px;
 }


 .menu {
  div{
   width: 40px;
   height: 5px;
   background-color: $offwhite;
   margin: 8px 0;
   border-radius: 20px;
  }
 }




}

//BIG SCREENS

@media (min-width: 700px) {

.main-wrapper {
 margin: 0px 60px 0px 60px;
 }


 .main-nav li {
  text-align: center;
  margin: 15px auto;
  font-weight: 700;
  font-size: 4.3rem;
  letter-spacing: 2px;
 }

}

