@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-image: url("https://github.com/reygutt/NicoleReyGutt/blob/master/assets/IMG/smallstars-01copy.png?raw=true");
}

.container {
  width: 100%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  z-index: -9;
}

.text-container {
  width: 100%;
  max-width: 1200px;
}

#scene {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
}

#scene img {
  position: absolute;
  height: 100%;
}

/*
.panel {
  min-height: 100vh;
}

.color-white {
  background-color: $mainpurple;
}*/
body {
  background-color: #02011e;
  transition: background-color 1s ease;
}

.main-wrapper {
  margin: 0px 20px 0px 20px;
}

.menu {
  display: inline-block;
  cursor: pointer;
}

.menu div {
  width: 37px;
  height: 3.5px;
  background-color: #f9fbef;
  margin: 7px 0;
  border-radius: 20px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  transform: rotate(-45deg) translate(-10px, 10px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -10px);
  transform: rotate(45deg) translate(-7px, -10px);
}

.navimage {
  height: 32px;
  margin-top: 3px;
}

.navbar {
  margin-top: 40px;
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
  /* not visible by default > with javascript visible */
  margin: 0;
  position: absolute;
  /* top: 50%; */
  top: 40%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 600px;
  z-index: 40;
}

.nav-links {
  text-decoration: none;
  color: #f9fbef;
}

.nav-links:hover {
  color: #02011e;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 2px;
}

.displayflexnavelement {
  display: flex;
  justify-content: space-between;
}

/* toggle navbar */
.active {
  display: block;
}

.activecolor {
  height: 94.5vh;
  /* change how big the pink bg when opening menu */
  position: relative;
  overflow: hidden;
}

.navbarbackground {
  background-color: #e1bbff;
  overflow: hidden;
}

#logo {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s ease forwards 3s;
}

#logo path:nth-child(1) {
  animation: transparency-letter 6s ease forwards 0s;
}

#logo path:nth-child(2) {
  stroke-dasharray: 3295px;
  stroke-dashoffset: 3295px;
  animation: line-anim 3s ease forwards;
}

#logo-disappear {
  -webkit-animation: cssAnimation 6s forwards;
  animation: cssAnimation 6s forwards;
}

@keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #e1bbff;
  }
}
@keyframes transparency-letter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 400px) {
  #logo {
    width: 200px;
  }
}
.intro {
  position: relative;
  height: 100vh;
}

.text-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 243px;
}

.intro-text {
  margin-top: 40%;
  opacity: 0;
  color: #f9fbef;
  font-family: "Philosopher", sans-serif;
  font-size: 23px;
  letter-spacing: 2px;
}
.intro-text span {
  color: #e1bbff;
}

.intro-text-animation {
  animation: text-animation 2s;
}

@keyframes text-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.sticky-container {
  color: #BE6CFF;
  position: fixed;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  top: 80%;
  right: 0;
  text-align: right;
  padding-right: 20px;
  overflow: hidden;
  z-index: 1;
}
.sticky-container p {
  margin-bottom: 20px;
}
.sticky-container p a {
  text-decoration: none;
  color: #e1bbff;
}
.sticky-container p a:visited {
  text-decoration: none;
}

a.left {
  position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}

h5 {
  color: #e1bbff;
  background-color: #02011e;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 800;
  letter-spacing: 2px;
}

.content {
  grid-area: content;
  display: grid;
  column-gap: 160px;
  row-gap: 60px;
  justify-content: center;
  align-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(190px, 255px));
  grid-template-rows: repeat(auto-fill, minmax(290px, 255px));
  overflow-y: hidden;
}

.constructionDontDoThisAtHome {
  padding-bottom: 40px;
}

.squaresinbox {
  background-color: #252364;
  display: grid;
  border-radius: 15px;
  position: relative;
}

.squaresinbox ul {
  color: #D3C7DD;
}

.construction {
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.imgConstruction {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 17%;
  margin-left: auto;
  margin-right: auto;
  left: -96px;
  right: 0;
}

.txt-white {
  font-size: 13px;
  color: #02011e;
  font-family: "Open Sans", sans-serif;
  margin: 20px;
  align-self: start;
  letter-spacing: 0.1em;
  line-height: 1.3;
}

.txt-black {
  font-family: "Open Sans", sans-serif;
  color: #D3C7DD;
  font-weight: 700;
  font-size: 25px;
  margin: 40px;
  align-self: end;
  letter-spacing: 0.1em;
  text-decoration: underline #BE6CFF solid;
  line-height: 1.8rem;
}

.squaresinbox ul li::before {
  content: "•";
  color: #BE6CFF;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
.squaresinbox ul {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.3;
  margin: 0 40px;
}

.squaresinbox:hover {
  background-color: #5A579C;
}

.skill-link {
  color: #e1bbff;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #BE6CFF;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 15px;
  width: 145px;
  height: 16px;
  letter-spacing: 1px;
  font-size: 1rem;
  justify-self: center;
  margin-bottom: 40px;
  margin-top: 20px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.skill-link:hover {
  letter-spacing: 2px;
  background-color: #9352C6;
  color: #e1bbff;
}

.skill-link:visited {
  color: #e1bbff;
}

@media (min-width: 500px) {
  .main-nav li {
    text-align: center;
    margin: 15px auto;
    font-weight: 700;
    font-size: 2.9rem;
    letter-spacing: 2px;
  }

  .navimage {
    height: 42px;
    margin-top: 0;
  }

  .menu div {
    width: 40px;
    height: 5px;
    background-color: #f9fbef;
    margin: 8px 0;
    border-radius: 20px;
  }

  .intro-text {
    font-size: 36px;
    margin-top: 0;
  }

  .text-container {
    width: 356px;
    margin-top: 72px;
  }

  .tl-img {
    width: 500px;
  }
}
@media (min-width: 700px) {
  .main-wrapper {
    margin: 0px 60px 0px 60px;
  }

  .main-nav li {
    text-align: center;
    margin: 15px auto;
    font-weight: 700;
    font-size: 3.5rem;
    letter-spacing: 2px;
  }

  .sticky-container {
    padding-right: 60px;
  }
  .sticky-container p {
    margin-bottom: 20px;
  }

  .intro-text {
    font-size: 57px;
    margin-top: 0;
  }

  .text-container {
    width: 539px;
  }

  .tl-img {
    width: 730px;
  }

  .tl-title-container h4 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1000px) {
  .intro-text {
    font-size: 67px;
    margin-top: 0;
  }

  .text-container {
    width: 626px;
  }
}

/*# sourceMappingURL=index.css.map */
